# Gradle
.gradle/
build/
shared/build/
androidApp/build/
iOS/

# IDE
.idea/
*.iml
captures/
.cxx/
.kotlin/

# Local config
local.properties

# Release signing (do not commit)
keystore.properties
*.jks
*.keystore
.kotlin/
.DS_Store
iosApp/DerivedData/
.delta/
.zcodeignore
